@import 'variables';
@import 'settings';

* {
  border: none;
  padding: 0;
  margin: 0;
}

.card {
  border-radius: $border-radius;
  // border: 3px solid rgba(255, 255, 255, 0.2);
  transition: border-color 0.3s ease-in-out;
  // box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.7);
  background-color: darken($color: $bg-color, $amount: 1%);
  &:hover {
    border-color: rgba(255, 255, 255, 1);
  }
  .image {
    border-radius: $border-radius - 3;
  }
  .label {
    padding: 10px;
    font-family: monospace;
    text-shadow: 1px 1px 2px $accent-color, 0 0 1em $accent-color,
      0 0 0.2em $accent-color;
    font-size: 1.7em;
  }
}

.grid-wrapper {
  padding: 50px;
  padding-left: 0;
  background-color: $bg-color;
}

.panel-wrapper {
  padding: 50px;
  background-color: $bg-color;
}

.panel {
  #panel-card {
    background-color: darken($bg-color, 2%);
    border-radius: $border-radius;
    .image {
      background-color: $bg-color;
      border-top-right-radius: $border-radius - 3;
      border-top-left-radius: $border-radius - 3;
    }
    .title {
      color: $fg-color;
      padding: 10px;
      font-family: monospace;
    }
  }
  #info1-wrapper,
  #info2-wrapper {
    margin-top: 50px;
    padding: 10px;
    background-color: darken($bg-color, 2%);
    border-radius: $border-radius;
    label {
      background-color: darken($bg-color, 2%);
      font-family: monospace;
      color: $fg-color;
    }
  }
  button {
    font-size: 1.3em;
    padding: 10px;
    background-color: darken($bg-color, 2%);
    // background-color: $accent-color;
    &:hover {
      background-color: darken($bg-color, 5%);
    }
    // margin: 0 20px;
    border-radius: 0;
  }
  .toolbar {
    button {
      &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
      &:nth-last-child(2) {
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }
    margin-top: 20px;
  }
}

.header {
  background-color: $accent-color;
  padding: 0 10px;
}

#header-box {
  margin: 10px;
  font-size: 1.4em;
  font-family: monospace;
  border-radius: $border-radius;
  color: $fg-color;
  background-color: $accent-color;
  button {
    padding: 0 10px;
    border-radius: $border-radius;
    margin: 0 10px;
    background-color: $accent-color;
    &:hover {
      background-color: darken($accent-color, 2%);
    }
    &.active {
      background-color: red;
    }
  }
  .searchbar {
    padding: 0 10px;
    background-color: darken($accent-color, 2%);
    border-radius: 2em;
    image {
      color: $fg-color;
    }
  }
}
