@import 'variables';

#settings {
  background-color: $bg-color;
  tabs {
    background-color: $bg-color;
  }
  tab {
    background-color: $bg-color;
    &:hover {
      background-color: $accent-color;
    }
    padding: 10px;
  }
  button {
    background-color: $bg-color;
    &:hover {
      background-color: $accent-color;
    }
    padding: 10px;
  }
}
