#settings {
  background-color: #171717; }
  #settings tabs {
    background-color: #171717; }
  #settings tab {
    background-color: #171717;
    padding: 10px; }
    #settings tab:hover {
      background-color: #121212; }
  #settings button {
    background-color: #171717;
    padding: 10px; }
    #settings button:hover {
      background-color: #121212; }

* {
  border: none;
  padding: 0;
  margin: 0; }

.card {
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  background-color: #141414; }
  .card:hover {
    border-color: white; }
  .card .image {
    border-radius: 7px; }
  .card .label {
    padding: 10px;
    font-family: monospace;
    text-shadow: 1px 1px 2px #121212, 0 0 1em #121212, 0 0 0.2em #121212;
    font-size: 1.7em; }

.grid-wrapper {
  padding: 50px;
  padding-left: 0;
  background-color: #171717; }

.panel-wrapper {
  padding: 50px;
  background-color: #171717; }

.panel #panel-card {
  background-color: #121212;
  border-radius: 10px; }
  .panel #panel-card .image {
    background-color: #171717;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px; }
  .panel #panel-card .title {
    color: #ededed;
    padding: 10px;
    font-family: monospace; }

.panel #info1-wrapper,
.panel #info2-wrapper {
  margin-top: 50px;
  padding: 10px;
  background-color: #121212;
  border-radius: 10px; }
  .panel #info1-wrapper label,
  .panel #info2-wrapper label {
    background-color: #121212;
    font-family: monospace;
    color: #ededed; }

.panel button {
  font-size: 1.3em;
  padding: 10px;
  background-color: #121212;
  border-radius: 0; }
  .panel button:hover {
    background-color: #0a0a0a; }

.panel .toolbar {
  margin-top: 20px; }
  .panel .toolbar button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  .panel .toolbar button:nth-last-child(2) {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; }

.header {
  background-color: #121212;
  padding: 0 10px; }

#header-box {
  margin: 10px;
  font-size: 1.4em;
  font-family: monospace;
  border-radius: 10px;
  color: #ededed;
  background-color: #121212; }
  #header-box button {
    padding: 0 10px;
    border-radius: 10px;
    margin: 0 10px;
    background-color: #121212; }
    #header-box button:hover {
      background-color: #0d0d0d; }
    #header-box button.active {
      background-color: red; }
  #header-box .searchbar {
    padding: 0 10px;
    background-color: #0d0d0d;
    border-radius: 2em; }
    #header-box .searchbar image {
      color: #ededed; }
